
/*===================================
        common part start 
   ====================================*/

*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
.clr{
    clear: both;
}
.title{

margin: 0 auto;
width: 160px;
margin-bottom: 50px;
}

.title h2{
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: -15px;
    text-transform: uppercase;


}

/*=======================================
                common part end
 ========================================= */

/* ========================================
                header part start
=========================================== */
header{
    background:#0872b9;
    padding: 11px 0;

}
header .header-text{
    width: 50%;
    float: left;
}

header .header-text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
header .header-icon{
    width: 50%;
    float: left;
    text-align:right;
    color: #fff;
}
header .header-icon i{
    margin-left: 25px;
    transition: .4s;
    cursor: pointer;
}
header .header-icon i:hover{
    color: #353535;
}
/*===============================================
                header part start
 ================================================ */


/*==================================================
                    nav part start
 =================================================== */
nav{
    margin:7px 180px;
}

nav .logo{
    width: 30%;
    float: left;
    
} 
nav .logo img{
    left: 10px;
}
nav .nav-item{
    width: 70%;
    float: left;
}
nav .nav-item ul{
    text-align: right;
    margin-top: 15px;
} 
nav .nav-item ul li{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-left: 14px;
}
nav .nav-item ul li a{
    color: #353535;
    transition: .4s;
}
nav .nav-item ul li a:hover{
    color: #83b8dc;
}

/*===================================================
                        nav part end
 ===================================================*/

/* ==================================================
                    banner part start
===================================================== */

#banner-part{
    background: url(../images/banner.png) no-repeat center;
    background-size: cover;
}
#banner-part .overlay{
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, .6);
    color: #fff;
    text-align: right;
    padding: 100px 0;
}
#banner-part .overlay h3{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 400;
}
#banner-part .overlay h1{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
#banner-part .overlay p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    width: 440px;
    line-height: 24px;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
#banner-part .overlay a{
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #0771b9;
    background: #0771b9;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    margin-left: 20px;
    text-transform: uppercase;
    transition: .4s;
}
#banner-part .overlay a:hover{
    background: transparent;
    border-color: #fff;
}
/*=============================================
                banner part end
 ============================================== */


/*===============================================
                about part  start
 ===============================================*/
 #about_part{
    margin-top: 100px;
}
#about_part .image{

    width: 33%;
    float: left;
   margin-top:-15px;

}
#about_part .image img{
    width: 450px;
}
#about_part .content{

    width: 60%;
    float: left;
    
}

#about_part .content p{
    margin-top: 20px;
    color: #555555;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: 0 122px;
    line-height: 26px; 
   
} 

/*====================================================
                        about part  end
 ======================================================*/


/*======================================================
                    Service part  start
 =======================================================*/
#service-part{
    margin-top: 100px;
}

#service-part .item{

    width: 30%;
    background: #f1f1f1;
    margin: 0 10px;
    float: left;
    position: relative;
    padding: 52px 23px;
    padding-bottom: 20px; 
    box-sizing: border-box;
    box-shadow: 10px 12px 35px -9px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 12px 35px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 12px 35px -9px rgba(0,0,0,0.75);
}
#service-part .item .shape{
    width: 80px;
    height: 80px;
    border-radius: 50%; 
    background: #fff;
    transform: translate(-50%,50%);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
#service-part .item .border-shape{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    background:transparent;
    border: 1px solid#f1f1f1;
    margin-left: 50%;
    margin-top: 50%;
  position: absolute;
    transform: translate(-50%, -50%);
}
#service-part .item .border-shape .icon-shape{
    background: #f1f1f1;
    width: 70px;
    height: 70px;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
#service-part .item .border-shape img{
    margin-left: 50%;
    margin-top: 50%;
  position: absolute;
    transform: translate(-50%, -50%);

}
#service-part .item .details{
    text-align: center;
}
#service-part .item .details h3{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 800;
   margin-bottom: 10px;

}
service-part .item .details p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;   

}
#service-part .item:hover .border-shape{
    background-color:#f1f1f1;
}
#service-part .item:hover .border-shape .icon-shape{
    background-color: #5bc5f4;
}
/*==================================================
                    Service part  end
 ===================================================*/ 


/*===================================================
                        Protfolio part start 
 ====================================================*/
#protfolio-part{
    margin-top: 100px;
}
#protfolio-part .item{
    width: 22%;
    float: left;
    margin: 0 10px;
}
#protfolio-part .item .img img{
    width: 100%;
    display: block;
}
#protfolio-part .item .img{
    margin-bottom: 20px;
    position: relative;
}
#protfolio-part .item .img .overlay{
    width: 100%;
    height: 0%;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    left: 0;
    transition: .4s;
    opacity: 0;
}
#protfolio-part .item .img:hover .overlay
{
    height: 100%;
    opacity: 1;
}
#protfolio-part .item .img .overlay i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background: #5bc55b;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
/* ===================================================
                Protfolio part end
===================================================== */

/*====================================================
                    Team part start 
 =====================================================*/
#team-part{
    margin-top: 100px;
}
#team-part .item{
    width: 22%;
    float: left;
    margin: 0 10px;
    overflow: hidden;
}
#team-part .item .img {
    position: relative;
}
#team-part .item .img img
{
    width: 100%;
    display: block;
}
#team-part .item .img .overlay{
    width: 80px;
    height: 100%;
    background:rgba(0, 0, 0, .7) ;
    top: 0;
    right: -80px;
    position: absolute;
    text-align: center;
    padding: 22px;
    box-sizing: border-box;
    transition: .4s;
}
#team-part .item .img .overlay i{

width: 38px;
height: 38px;
border-radius: 50%;
border: 1px solid #fff;
text-align: center;
line-height: 38px;
color: #fff;
margin-top: 15px;
transition: .4s;

}
#team-part .item .img .overlay i:hover{
    background: #5bc5f4;
    border-color: #5bc5f4;
}
#team-part .item:hover .img .overlay{
    right: 0;
}
#team-part .item .details{
    text-align: center;
}
#team-part .item:hover .details h3
{
color: #5bc5f4;
}
#team-part .item .details h3{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 800;

}
#team-part .item .details p{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 400;   

}
/* =============================================
                    Team part end
================================================ */

/*=================================================
                    Testimonial Part Start
 ==================================================== */
#testimonial-part{
    margin-top: 100px;
}
#testimonial-part .item{

    width: 47%;
    float: left;
    margin: 0 10px;
}
#testimonial-part .item .images{
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

#testimonial-part .item .details{
    background:#f1f1f1;
    height: 250px;
    margin-top: 50px;
    box-shadow: 10px 12px 35px -9px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 12px 35px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 12px 35px -9px rgba(0,0,0,0.75);
}
#testimonial-part .item .details .shape{
    width: 40px;
    height: 40px;
    background:#f1f1f1;
    margin: 0 auto;
    transform: translateY(-50%) rotate(45deg);
}
#testimonial-part .item .details h3{
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: #353535;
}
#testimonial-part .item .details h5{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    margin-top: 10px;
    color: #9e9e9e;
}
#testimonial-part .item .details p{
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    font-weight: 800;
    text-align: center;
    margin-top: 10px;
    padding: 0 57px;
    color: #9e9e9e;
}

#testimonial-part .item .details{
    text-align: center;  
}
#testimonial-part .item .details i{
    margin-top: 10px;
    color: #5bc5f4;
}
/* ============================================
Testimonial Part end
=============================================== */


  /*============================================
                 footer-top part start
    =============================================*/

       footer{
        margin-top:490px;
        background:#353535;
        padding: 50px 0;
    
    }
    footer .footer-logo{
        width: 21%;
        float: left;
    }
    footer .footer-logo p{
            font-family:'Open Sans', sans-serif; 
            font-size: 14px; 
            font-weight: 400;
            margin: 30px 0;
            color:#ffffff;

    }
    
    footer .contact{
        width: 23%;
        float: left;
        margin-left: 15px;
    }
    footer h3{
        font-family:'Open Sans', sans-serif; 
            font-size: 20px; 
            font-weight: 400;
            color:#ffffff;
    }
    footer .contact .box{
        margin-top: 30px;
    }
    footer .contact .box p{
        width: 112px;
        
    }
    footer .contact .box .icon{
        width: 20%;
        float: left;
        font-size: 20px;
    }
    footer .contact .box .icon i{
        display: block;
        width: 40px;;
        height: 30px;
        border-radius: 50%;
        background:#5bc5f4; 
        padding-top: 10px;
        text-align: center;
    }
    
    footer .contact .box .text{
        width: 80%;
        float: left;
        font-family:'Open Sans', sans-serif; 
        font-size: 14px; 
        font-weight: 400;
        color: #f1f1f1;
    }
    
    footer .links{
        width: 15%;
        float: left;
       margin-left: 15px;

    }
    footer .links .left-ul{
        width: 45%;
        background:#353535;
        float: left;
    }
    footer .links .right-ul{
        width: 45%;
        background:#353535;
        float: left;
        margin-left: 5px;
    }
    footer .links ul li{
        font-family:'Open Sans', sans-serif; 
            font-size: 14px; 
            font-weight: 400;
            margin-top: 21px;
            transition: .4s;
            cursor: pointer;
            color: #f1f1f1;
    }
    footer .links ul li:hover{
        padding-left: 15px;
        color: #4c8ba8;
    }
    footer .photo{
        
        width: 30%;
        float: left;
        margin-left: 15px;
    }
    footer .photo h3{
        margin-bottom: 20px;
        margin-left: 10px;
    }
    footer .photo img{
        margin-left: 10px;
        margin-top: 8px;
    }
    
    
    /*=========================================
                     footer-top part end
     ==========================================*/

    /*=========================================
                    footer-bottom part start
        ==========================================*/
    #copyright-part{
        background: #555555;
        padding: 15px 0;
        text-align: center;
    }
    #copyright-part p{
        font-family:'Open Sans', sans-serif; 
        font-size: 14px; 
        font-weight: 400;
        line-height: 24px;
        color: #f1f1f1;
        box-sizing: border-box;
    }
    #copyright-part p span{
        text-transform: uppercase;
        color: #5bc5f4;
    }
    
     /*=========================================
                     footer-bottom part end
     ==========================================*/
    
    